CompileFlags:
  Add:
    - "-include"
    - "fix.h"
    - "-I"
    - "D:/Keil_v5/C51/INC"
    - "-xc++"       # 强制 clangd 以 C++ 模式解析代码
    - "-D__clang__" # 确保触发我们写的修复逻辑
Diagnostics:
  # 彻底关掉 clang-tidy 的静态检查（它是警告的主要来源）


  # 精准屏蔽特定的警告代码
  Suppress: [
    "misc-definitions-in-headers", # 专门针对“在头文件中定义变量”的警告
    "unused-variable",          # 屏蔽：定义了但未使用的变量
    "unused-parameter",         # 屏蔽：函数参数未被使用
    "main-return-type",         # 屏蔽：main 函数必须返回 int
    "ext_clang_c_bitfield",     # 屏蔽：C51 特有的位寻址报错
    "unknown-attributes",       # 屏蔽：不认识的关键字属性
    "missing-prototypes",       # 屏蔽：函数没有原型声明
    "writable-strings",         # 屏蔽：字符串字面量赋值给 char*
    "ext_integer_complement_complex", # 屏蔽：复杂的位运算警告
    "declaration-after-statement"     # 屏蔽：变量定义不在函数开头（C99之前禁止）
  ]

  # 关掉关于“头文件未被使用”的烦人提示
  UnusedIncludes: None